

.navbar {
    background-color: #3169b0 !important;
}

#bs-example-navbar-collapse-1 a:hover {
    background-color: #265da6;
}

.tag_active {
    background-color: #265da6;
}

#bs-example-navbar-collapse-1 a {
    color: white;
}

#navbar_right li {
    margin-left: 30px;
}

.navbar-brand {
    margin-top: -5px;
}

.left {
    width: 100%;
}

.right {
}

h4 {
    color: #3169b0;
    font-size: 20px;
}

h3 {
    color: #3169b0;
    font-size: 1.5em;
}






