<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>questionnaireProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUsr</servlet-name>
    <servlet-class>servlets.addUsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUsr</servlet-name>
    <url-pattern>/Administrator/addUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUsr</servlet-name>
    <servlet-class>servlets.deleteUsrServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUsr</servlet-name>
    <url-pattern>/Administrator/deleteUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addActivity</servlet-name>
    <servlet-class>servlets.addActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addActivity</servlet-name>
    <url-pattern>/Teacher/addActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAQuestionnaire</servlet-name>
    <servlet-class>servlets.addQuestionnaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAQuestionnaire</servlet-name>
    <url-pattern>/Teacher/addQuestionnaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addQuestionServlet</servlet-name>
    <servlet-class>servlets.addQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addQuestionServlet</servlet-name>
    <url-pattern>/Teacher/addQuestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>enterAnswer</servlet-name>
    <servlet-class>servlets.enterAnswerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>enterAnswer</servlet-name>
    <url-pattern>/Teacher/enterAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addOption</servlet-name>
    <servlet-class>servlets.addOptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOption</servlet-name>
    <url-pattern>/Teacher/addOption</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logOut</servlet-name>
    <servlet-class>servlets.logOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logOut</servlet-name>
    <url-pattern>/Session/logOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addSymbol</servlet-name>
    <servlet-class>servlets.addSymbolServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addSymbol</servlet-name>
    <url-pattern>/Teacher/addSymbol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addRestrict</servlet-name>
    <servlet-class>servlets.addRestrictServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRestrict</servlet-name>
    <url-pattern>/Teacher/addRestrict</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>invoActivity</servlet-name>
    <servlet-class>servlets.invoActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoActivity</servlet-name>
    <url-pattern>/Student/invoActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>answerActivity</servlet-name>
    <servlet-class>servlets.answerActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answerActivity</servlet-name>
    <url-pattern>/Student/answerActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>answerRestrictActivity</servlet-name>
    <servlet-class>servlets.answerRestrictActivity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>answerRestrictActivity</servlet-name>
    <url-pattern>/Student/answerRestrictActivity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkUsr</servlet-name>
    <servlet-class>servlets.checkUsr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkUsr</servlet-name>
    <url-pattern>/Administrator/checkUsr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkActivity</servlet-name>
    <servlet-class>servlets.checkActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkActivity</servlet-name>
    <url-pattern>/Teacher/checkResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>completeStudent</servlet-name>
    <servlet-class>servlets.completeStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>completeStudent</servlet-name>
    <url-pattern>/share/completeInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>completeTeacher</servlet-name>
    <servlet-class>servlets.completeTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>completeTeacher</servlet-name>
    <url-pattern>/share/completTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updatePassWord</servlet-name>
    <servlet-class>servlets.updatePassWord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePassWord</servlet-name>
    <url-pattern>/share/updatePassWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checklog</servlet-name>
    <servlet-class>servlets.checklogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checklog</servlet-name>
    <url-pattern>/Administrator/checklog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sethonor</servlet-name>
    <servlet-class>servlets.sethonorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sethonor</servlet-name>
    <url-pattern>/Administrator/sethonor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deknight</servlet-name>
    <servlet-class>servlets.deknightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deknight</servlet-name>
    <url-pattern>/Administrator/deknight</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>chooseQuestion</servlet-name>
    <servlet-class>servlets.chooseQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chooseQuestion</servlet-name>
    <url-pattern>/Teacher/chooseQuestion</url-pattern>
  </servlet-mapping>
</web-app>