<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhen.dao.EvaluateDao">

    <resultMap id="Evaluate" type="com.zhen.model.Evaluate">
        <id column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="evaluate_score" property="evaluateScore" jdbcType="BIGINT"/>
        <result column="evaluate_description" property="evaluateDescription" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="update_time" property="updateTime" jdbcType="DATE"/>
        <result column="deleted" property="deleted" jdbcType="BIGINT"/>
    </resultMap>

    <select id="selectEvaluateById" parameterType="java.lang.String" resultMap="Evaluate">
        SELECT * FROM evaluate
        WHERE student_id = #{studentId} AND deleted=0
    </select>

    <select id="selectAllEvaluate" resultMap="Evaluate">
        SELECT * FROM evaluate WHERE deleted=0
    </select>

    <delete id="deleteEvaluate" parameterType="java.lang.String">
        DELETE FROM evaluate WHERE student_id=#{studentId}
    </delete>

    <update id="updateEvaluate" parameterType="com.zhen.model.Evaluate">
        UPDATE evaluate
        <set>
            <if test="evaluateScore != null">
                evaluate_score = #{evaluateScore},
            </if>
            <if test="evaluateDescription != null">
                evaluate_description = #{evaluateDescription},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        WHERE student_id=#{studentId}
    </update>


    <insert id="addEvaluate" parameterType="com.zhen.model.Evaluate">
        INSERT INTO evaluate(student_id,evaluate_score,evaluate_description,create_time,update_time)
        VALUES (#{studentId},#{evaluateScore},#{evaluateDescription},#{createTime},#{updateTime})
    </insert>

</mapper>